article {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  background: #eeeeee 0% 0% no-repeat padding-box;
}

article > * {
  grid-column: 2;
  min-width: 0;
  min-height: 1080px;
}
.header {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.header > div:nth-child(2) {
  margin-left: auto;
}

/* Define the styling for the navbar */
.navbar {
  display: none; /* Hide the navbar by default */
  justify-content: flex-end;
  align-items: center;
}

/* Style for navbar items */
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
  font: Quicksand-medium;
}

/* Define the styling for the side menu */
.side-menu {
  display: flex; /* Show the side menu by default */
  flex-direction: column;
  background-color: #444;
  position: fixed;
  top: 0;
  left: -200px; /* Move the menu out of the viewport */
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
}

/* Style for menu items */
.side-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

body {
  margin: 0;
  background: #eeeeee 0% 0% no-repeat padding-box;
  font-family: "Quicksand", sans-serif;
}

.content {
  height: 100%;
}

.menu {
  background-color: #8ddc97;
  display: flex;
  justify-content: space-around;
  grid-column: 1/-1;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Quicksand-medium;
  /* border-bottom: 2px solid black; */
}
.bord_bot {
  border-bottom: 2px solid black;
  margin-left: 0;
  margin-right: 0;
}
.Course,
.Classes {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  /* margin-top: 19px;
  margin-bottom: 15px; */
  /* border-bottom: 2px solid black; */
}

/* .Course {
  border-bottom: 2px solid black;
} */

.filter {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 16px;
}
.Sort {
  display: flex;
  gap: 10px;
}
.filterdrop {
  border: none;
  border-bottom: 2px solid rgb(155, 152, 152);
  background: transparent;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.drop {
  border: none;
  border-bottom: 2px solid lightgray;
  width: 100%;
}

.Courses {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.Course-1 {
  grid-column: 1/2;
  background-color: white;
  padding: 20px;
}
.Course-1-content {
  display: flex;
  gap: 16px;
}

.Content-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.Content-1 > div:nth-child(2) {
  font-family: Quicksand-light;
}
.Course-1-footer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;

  border-top: 1px solid lightgrey;
  margin-top: 16px;
  margin-bottom: 9px;
  padding-top: 16px;
}
.information {
  display: flex;
  gap: 10px;
}

.Course-2-content {
  display: flex;
  gap: 10px;
}
.Course-2-footer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
  border-top: 1px solid lightgrey;
  margin-top: 16px;
  margin-bottom: 9px;
  padding-top: 16px;
}
.Course-2 {
  grid-column: 2/3;
  background-color: white;
  padding: 20px;
}

.Course-3 {
  grid-column: 1/2;
  background-color: white;
  padding: 20px;
}

.Course-4 {
  grid-column: 2/3;
  background-color: white;
  padding: 20px;
}

.msg {
  display: flex;
  justify-content: center;
  color: green;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 20px;
}

p > span {
  border-left: 1px solid rgba(157, 157, 157, 0.666);
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.footer {
  background-color: rgba(128, 128, 128, 0.301);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer > span {
  border-left: 1px solid rgba(82, 82, 82, 0.415);
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer > p {
  font-weight: 500;
}

.totalfooter {
  left: 0;
  bottom: 0;
  width: 100%;
}
.fav {
  opacity: 0.2;
  color: lightgrey;
}
/* Apply the stacking and gap on smaller screens using media queries */
@media screen and (max-width: 768px) {
  .Course-1,
  .Course-2,
  .Course-3,
  .Course-4 {
    width: 100%;
  }
}

/* Apply the grid layout on larger screens */
@media screen and (min-width: 769px) {
  .Courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap: 24px;
  }
}

@media only screen and (max-height: 950px) {
  .totalfooter {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
  }

  .header > div:nth-child(3) {
    margin-left: auto;
  }

  .navbar {
    display: none; /* Hide the navbar on smaller screens */
  }

  .side-menu {
    display: flex; /* Show the side menu on smaller screens */
  }

  /* Move the side menu into the viewport */
  .side-menu.active {
    left: 0;
  }

  .side-menu a:hover {
    background-color: #555;
  }
}

/* Apply navbar on larger screens using media queries */
@media screen and (min-width: 769px) {
  .header {
    flex-direction: row; /* Reset flex-direction for larger screens */
  }

  .navbar {
    display: flex; /* Show the navbar on larger screens */
  }

  .side-menu {
    display: none; /* Hide the side menu on larger screens */
  }
  .side-menu-toggle {
    display: none;
  }
}
